###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IDE ###
/.idea/
/.vscode/
*.swp
*.swo
*~
.DS_Store
###< IDE ###

###> Code Quality Tools ###
/.php-cs-fixer.cache
/phpstan-baseline.neon
###< Code Quality Tools ###

###> mkcert ###
/certs/*.pem
/certs/*.key
###< mkcert ###

###> tailwindcss ###
/tailwindcss
/public/build/app.css
###< tailwindcss ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
